/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html { font-family: 'Montserrat', sans-serif; }
/* Reset */

/* Header */
header.header{
    clear: both;
    display: block;
    overflow: hidden;
    background: #fafafa;
    padding: 10px 0;
	position: relative;
    z-index: 999 !important;
}
.header img.logo {
    width: 200px;
    height: 19px;
    margin: auto;
    clear: both;
    display: block;
}
/* Header */

/* Principal */
.principal {
    background: #FFF3CF;
    /*padding: 50px 0;*/
	padding: 50px 0 15px 0;
}
.img-principal {
    /*padding-top: 75px;*/
	padding-top: 0;
}
img.bbb {
    width: 550px;
    clear: both;
    display: block;
    margin: 0 auto 30px auto;
}
.descricao-principal h1 {
    color: #1e1e4e;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto 30px auto;
}
.descricao-principal h2 {
    color: #525C67CC;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 30px 0;
}
.descricao-principal p {
    color: #1e1e4e;
    font-size: 23.5px;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.descricao-principal span {
    clear: both;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.descricao-principal span svg {
    margin-bottom: -2px;
}
a.cta.cta-principal {
    width: 80%;
	margin: 30px auto 20px auto;
}
/* Principal */

/* Poder HC */
.poderhc {
    background: #ffffff;
    padding: 75px 0 0 0;
}
a.cta.cta-phc {
    width: 75%;
    margin: 50px auto 30px auto;
}
img.bbbnb {
    width: 95%;
    clear: both;
    display: block;
    margin: auto;
}
img.potes-bbb {
    width: 250px;
    clear: both;
    display: block;
    margin: auto;
}
.text-phc h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 20px 0;
	color: #10102e;
}
.text-phc p {
    text-align: center;
    margin: 0 auto 35px;
    font-size: 18px;
    font-weight: 600;
    color: #525C67CC;
}
.beneficios-hc {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.beneficios-hc .beneficio-item img {
	clear: both;
	display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.beneficios-hc .beneficio-item h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
	color: #10102e;
}
.beneficios-hc .beneficio-item p {
    text-align: center;
    font-weight: 600;
}
a.cta.cta-phc svg {
    margin-bottom: -2px;
}
a.cta {
    background: #1ac985;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 25px 50px;
    clear: both;
    display: block;
    margin: 30px auto;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
}
a.cta:hover, .h-l-cta-pv1 a.cta:hover {
	background: #0c8d5b;
}
img.selos-cta {
    clear: both;
    display: block;
    width: 290px;
    margin: 0 auto;
    opacity: 0.5;
}
/* Poder HC */

/* Videos */
.videos-hc h1 {
    color: #DAB56A;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin: 0 0 50px 0px;
}
.videos-hc {
    padding: 75px 0 50px 0;
    background: #fafafa;
}
.videos-hc img.logo-videos {
    width: 250px;
    height: 24px;
    margin: auto;
    clear: both;
    display: block;
}
.videos-iframes {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.col-md-3.col-lg-3.col-sm-3.item-video-iframe {
    float: left;
    width: 20% !important;
}
/* Videos */

/* Formula */
.text-formula {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 32px;
}
.text-formula iframe {
    width: 675px;
    height: 389px;
    margin: auto !important;
    clear: both;
    display: block;
}
.formula-hc {
    background: #ffffff;
    padding: 75px 0 0 0;
}
.text-formula h1 {
    text-align: center;
    color: #DAB56B;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 auto 30px auto;
}
.text-formula h2 {
    text-align: center;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 30px auto 30px auto;
}
.text-formula p {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
}
.text-formula span {
    text-align: center !important;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
.ingredientes-formula {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.formula-hc .ingrediente-item img {
	clear: both;
	display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.formula-hc .ingrediente-item h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
	color: #DAB56B;
}
.formula-hc .ingrediente-item p {
    text-align: center;
    font-weight: 600;
}
a.cta.cta-phc.cta-doutora {
    width: 80%;
}
.img-doutora {
    padding: 0 90px;
}
.img-doutora img {
    clear: both;
    display: block;
    width: 75%;
    margin: 0 auto;
}
/* Formula */

/* Renove */
.renove-hc {
    background: #F9D385;
    padding: 75px 0 50px 0;
}
.renove-hc h1 {
    color: #1e1e4e;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto 30px auto;
}
.renove-hc h2 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 30px 0;
}
.antes-depois-list-cta iframe {
    width: 100%;
    height: 500px;
}
.lista-ac {
    padding-top: 30px;
}
.lista-ac p {
    color: #ffffff;
    font-size: 23.5px;
    font-weight: 600;
	margin: 0 0 20px 0;
}
a.cta.cta-remove {
    width: 80%;
	margin: 30px auto 20px auto;
}
.renove-hc span {
    text-align: center;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
/* Renove */

/* Time */
.time-hc {
    padding: 75px 0 50px 0;
    background: #fafafa;
}
.headline-time h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: #DAB56A;
    margin: 0 auto 30px auto;
}
.headline-time h2 {
	color: #1e1e4e;
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 25px;
    font-weight: 800;
}
.headline-time h3 {
	color: #1e1e4e;
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 20px;
    font-weight: 700;
}
.cta-time span {
    text-align: center !important;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
.col-md-3.col-lg-3.col-sm-3.influencer-item {
    width: 20% !important;
}
a.cta.cta-timehc, a.cta.cta-faq, a.cta.cta-wpp {
    width: 40%;
}
/* Time */

/* Oferta */
.oferta-hc {
    background: #F9D385;
    padding: 75px 0 50px 0;
}
.headline-oferta h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0 auto 30px auto;
    font-weight: 900;
    color: #ffffff;
}
.headline-oferta h2 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0 auto 30px auto;
    font-weight: 800;
    color: #1e1e4e;
}
.subheadline-oferta h1 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 50px auto;
	color: #1e1e4e;
}
/* Oferta */

/* Risco */
.risco-hc {
    padding: 50px 0 50px 0;
    background: #ffffff;
}
.ndias-img img {
    width: 350px;
    margin: 0 auto 50px auto;
}
.text-risco h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto 30px auto;
	color: #1e1e4e;
}
.text-risco p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.ndias-img iframe {
    display: block;
    clear: both;
    width: 640px;
    height: 345px;
    margin: 0 auto 35px auto;
}
/* Risco */

/* Faq */
section.faq {
    background: #fafafa;
	padding: 75px 0 50px 0;
}
section.faq h1 {
	color: #1e1e4e;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 50px 0;
}
.faq-item {
    clear: both;
    display: block;
    overflow: hidden;
	margin: 0 0 10px 0;
}
.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
	border: none;
	position: relative;
    color: #1e1e4e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    clear: both;
    display: block;
    padding: 20px 20px 30px 20px;
    background: #ffffff;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
}
button.accordion svg {
    margin-top: -5px;
}
.panel {
    padding: 0 25px;
    background: #fafafa;
    color: #000000;
    max-height: 0;
    margin-top: -12px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {
    margin: 25px 0;
}
/* FAQ */

/* WhatsApp */
.whastapp-hc {
    background: #ffffff;
    padding: 75px 0 50px 0;
}
.wpp-img img {
	clear: both;
	display: block;
	width: 115px;
    height: 115px;
    margin: 0 auto 50px auto;
}
.headline-copy-cta-wpp span {
    text-align: center !important;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
.headline-copy-cta-wpp h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto 30px auto;
    color: #1e1e4e;
}
.headline-copy-cta-wpp p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
/* WhatsApp */

/* Página Obrigado, Obrigdo boleto e Processando pagamento */
.content-obg-page {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 75px 0;
}
.content-obg-page h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 20px 0;
    color: #10102e;
}
.content-obg-page p {
    text-align: center;
    margin: 0 auto 35px;
    font-size: 18px;
    font-weight: 600;
    color: #525C67CC;
}
img.boleto-icon-obg {
    width: 150px;
    margin: 30px auto 30px auto;
}
/* Página Obrigado, Obrigdo boleto e Processando pagamento */

/* Página de oferta extra */
.diferenciais-oferta-extra {
    clear: both;
    display: block;
    overflow: hidden;
    background: #F2F2F4;
    padding: 30px 0;
}
.diferenciais-oferta-extra-item svg {
    color: #C68F40;
    fill: #C68F40;
    width: 50px;
    margin: 0 auto 10px auto !important;
    text-align: center !important;
    display: flex;
}
.diferenciais-oferta-extra-item p {
    text-align: center;
    font-weight: 500;
}
.potes-oferta-extra {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 50px;
}
.potes-oferta-extra h1 {
    color: #DAB56A;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin: 0 0 50px 0px;
}

.potes-oferta-extra h2 {
    color: #DAB56A;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin: 50px 0 50px 0px;
}
span.arrow-down img {
    clear: both;
    display: block;
    width: 65px;
    height: 35px;
    margin: 0 auto 50px auto;
}
.depoimentos-oferta-extra {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 50px 0;
    background: #fafafa;
}
.depoimentos-oferta-extra h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 50px 0;
    color: #10102e;
}
/* Página de oferta extra */

/* Página de depoimentos */
.prova-social {
    padding: 50px 0;
}
.principal-depoimentos .descricao-principal {
    padding-top: 120px;
}
.whastapp-hc-depoimentos {
    background: #fafafa;
    padding: 75px 0 50px 0;
}
/* Página de depoimentos */

/* Depoimentos Página */
.depoimentos-slideshow,
.depoimentos-slideshow .cycle-slideshow,
.depoimentos-slideshow .cycle-slideshow > div {
	position: relative;
	width: 100%;
    clear: both;
    display: block;
}
.foto-depoente img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    height: auto;
    width: 100%;
	float: left;
}
.foto-depoente {
    float: left;
    margin-right: 15px;
}
.conetudo-depoimento {
    display: grid;
    margin: inherit;
}
.depoimento { }
.depoimentos-nav {
	width: 120px;
	text-align: center;
	margin: 10px auto 0 auto;
}
.depoimentos-nav .nav-prev,
.depoimentos-nav .nav-next {
	display: inline-block;
    width: 29px;
	overflow: hidden;
	margin: 0 10px;
	cursor: pointer;
	color: #1e1e4e;
	
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	transition: all .4s linear;
}
.depoimentos-nav .nav-prev:hover,
.depoimentos-nav .nav-next:hover {
	color: #1e1e4e;
}
/* Depoimentos Página */

/* Prova social */
.quem-usou {
    padding: 50px 0;
    background: #F9D385;
    margin-bottom: 50px;
}
.quem-usou h1 {
    color: #1e1e4e;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    margin: 0 auto 30px auto;
}
.uso-item {
    margin-bottom: 20px;
}
/* Prova social */

/* Upsell */
.upsell-principal {
    background: #ffffff;
    padding: 50px 0;
}
.quem-usou-upsell {
    margin-bottom: 0;
}
.headline-upsell h1 {
    color: #1e1e4e;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    margin: 0 auto 30px auto;
    background: #F9D385;
    padding: 20px;
    width: 42%;
}
.headline-upsell p, .cta-content-upsell p {
    text-align: center;
    margin: 0 auto 35px;
    font-size: 20px;
    font-weight: 600;
    color: #525C67CC;
}
.cta-content-upsell h1 {
    color: #1e1e4e;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto 30px auto;
    background: #F9D385;
    padding: 20px;
}
.cta-content-upsell h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 30px;
}
.cta-content-upsell span {
    clear: both;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.cta-content-upsell h2 span {
    margin-top: 10px;
}
/* Upsell */

/* PV1 */
.topo-pv1 {
    background: #333620 url(img/bg-top-pv1.jpg) repeat;
    background-size: 1375px !important;
    background-size: cover;
    padding: 100px 0 50px 0;
}
.img-top-pv1 img {
    padding: 75px;
}
.h-l-cta-pv1 h1 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}
.h-l-cta-pv1 a.cta {
    background: #1ac985;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 25px 50px;
    clear: both;
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
}
.madein-usa {
    background: #131924;
    padding: 50px 0;
}
.img-usa img {
    width: 185px;
    margin: 0 auto;
}
.img-usa h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    margin: 30px auto;
}
.madein-usa h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 35px;
}
.img-ad-gif img.ad1, .img-ad-gif img.ad2, .img-ad-gif img.ad3 {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}
.img-ad-gif img.stars-pv1 {
    width: 110px;
    margin: 25px auto 0 auto;
}
.img-ad-gif img.ad2 {
    width: 200px;
    margin: auto;
}
.quatro-emum {
    background: #ffffff;
    padding: 50px 0;
}
.img-hcap img {
    margin-top: 40px;
}
.hcap-txt p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hcap-txt p b {
    color: #DAB56A;
}
.potes-4em1, .face-4em1 {
    margin-top: 50px;
}
.maisdesc-pv1 {
    background: #131823;
    padding: 50px 0;
}
.maisdesc-pv1 a.cta {
    margin: 0 auto;
}
.oferta-pv1 {
    background: #ffffff;
    padding: 50px 0;
}
.selos-pv1 img {
    width: 685px;
    margin: 35px auto 0 auto;
}
.faq-pv1 {
    background: #121823;
    padding: 50px 0;
}
.faq-pv1 h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto 30px auto;
    color: #F6D77B;
}
.potes-faq img {
    margin-top: 100px;
}
/* PV1 */

/* PV3 Pele pefeita */
.topo-pv3 {
    padding: 50px 0;
    background: #0B0B16;
}
img.pote-unico-pv3 {
    width: 340px;
    margin: auto;
}
.headline-list-top-pv3 h1 {
    font-size: 35px;
    text-align: center;
    margin: 100px auto 50px auto;
    color: #FFBF62;
    font-weight: 800;
}
.headline-list-top-pv3 p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}
.pelejovem-pv3 {
    background: #ffffff;
    padding: 50px 0;
}
.pelejovem-pv3 {
    background: #ffffff;
    padding: 50px 0;
}
.face-pv3 img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.list-face-pv3 h2 {
    margin: 25px auto 15px 0;
    font-size: 20px;
    font-weight: 700;
}
.list-face-pv3 p {
    color: #424242;
    font-weight: 400;
    font-size: 18px;
	text-align: left !important;
    font-size: 18px;
	margin: 15px 0;
}
.face-pv3, .list-face-pv3 {
	margin: 30px auto;
}
.pelejovem-pv3 h3 {
    color: #272727;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin: 50px auto 20px auto;
}
.pelejovem-pv3 p svg {
    height: 17px;
    width: 17px;
    fill: #B98A44;
}
.pelejovem-pv3 h1 {
    color: #212121;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto 20px auto;
}
.pelejovem-pv3 p {
    color: #424242;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 15px auto;
}
.pqcaps-pv3 {
    padding: 50px 0;
    background: #0b0b16;
}
.img-pqcaps-pv3 img {
    width: 215px;
    height: auto;
    margin: 0 auto;
}
.headline-list-pqcaps-pv3 h1 {
    color: #FFBF62;
    font-size: 35px;
    font-weight: 600;
    margin: 30px auto 30px auto;
}
.headline-list-pqcaps-pv3 h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
	margin-bottom: 30px;
}
.headline-list-pqcaps-pv3 h2 span {
	clear: both;
	display: block;
	margin-top: 15px;
}
.headline-list-pqcaps-pv3 p {
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
}
.headline-list-pqcaps-pv3 p svg {
    fill: #FFBF62;
}
.comoage-cta-pv3 {
    background: #1B1B31;
    padding: 50px 0;
}
.comoage-cta-pv3 h1 {
    color: #FFBF62;
	text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 0 auto 30px auto;
}
.comoage-cta-pv3 p {
    color: #ffffff;
    font-size: 16px;
	text-align: center;
    font-weight: 300;
}
.tratamento-pv3 {
    padding: 50px 0;
    background: #fafafa;
}
.colageno img, .acido img, .blend img {
    width: 125px;
    height: 125px;
    margin: auto;
    margin-bottom: 30px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
}
.colageno h2, .acido h2, .blend h2 {
	color: #424242;
    font-size: 20px;
    font-weight: 600;
	text-align: center;
}
.colageno p, .acido p, .blend p {
    font-size: 16px !important;
    font-weight: 400;
	text-align: center;
}
.tratamento-pv3 h1 {
	color: #1B1B31;
    font-size: 35px;
    font-weight: 600;
	text-align: center;
    margin: 0 auto 30px auto;
}
.tratamento-pv3 p {
    color: #424242;
    font-size: 18px;
    font-weight: 400;
	text-align: center;
    margin: 0 auto 30px auto;
}
.prova-social-pv3 h1 {
    color: #1B1B31;
	text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 0 auto 30px auto;
}
.anvisa-pv3 {
    padding: 50px 0;
	background: #fafafa;
}
.headline-anvisa-pv3 h1 {
	color: #1B1B31;
    font-size: 30px;
    font-weight: 800;
    margin: 75px auto 30px auto;
}
.headline-anvisa-pv3 h2 {
	color: #1B1B31;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto 30px auto;
}
.oferta-pv3 {
    background: #0B0B16;
    padding: 50px 0;
}
.oferta-pv3 h1 {
	color: #ffffff;
    font-size: 35px;
    font-weight: 600;
	text-align: center;
    margin: 0 auto 30px auto;
}
.oferta-pv3 h2 {
	color: #ffffff;
    font-size: 18px;
    font-weight: 400;
	text-align: center;
    margin: 0 auto 30px auto;
}
.um-pote-pv3 img, .cinco-pote-pv3 img {
    padding: 0 10px;
    margin-top: 20px;
}
.faq-pv3 .text-faq p, .faq-pv2 .text-faq p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #000000 !important;
}
.txt-bonus-pv3 h1 {
	color: #1e1e4e;
    font-size: 35px;
    font-weight: 600;
    margin: 50px auto 30px auto;
}
.txt-bonus-pv3 p {
	color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 30px auto;
}
.txt-bonus-pv3 a.cta-bonus-pv3 {
	width: 75%;
}
.garantia-pv3 {
    padding: 50px 0;
}
.pote-satisfacao img {
    width: 300px;
    margin: auto;
}
.text-satisfacao h1 {
	color: #1e1e4e;
    font-size: 35px;
    font-weight: 600;
    margin: 50px auto 30px auto;
}
.text-satisfacao p {
	color: #000000;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto 30px auto;
}
.text-satisfacao h2 {
	color: #1e1e4e;
    font-size: 30px;
    font-weight: 600;
    margin: 0 auto 30px auto;
}
.text-satisfacao h2 span {
    font-size: 32px;
    font-weight: 800;
	font-style: italic;
}
.text-satisfacao a.cta-satisfacao {
	width: 75%;
}
/* PV3 Pele pefeita */

/* PV2 */
.videos-hc-pv2 {
    background: #ffffff;
}
.um-pote-pv2 img, .tres-pote-pv2 img, .cinco-pote-pv2 img {
    padding: 0 25px;
}
.oferta-pv2 {
    padding: 50px 0;
    background: #fafafa;
}
.oferta-pv2 h1 {
    color: #D3B26C;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 30px auto;
}
.oferta-pv2 p {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 30px auto;
}
.garanti-pv2 {
    padding: 50px 0;
}
img.selo-garantia-pv2 {
    margin: auto;
}
.garanti-pv2 h1 {
    color: #D3B26C;
    font-size: 35px;
    font-weight: 700;
	text-align: center;
	margin: 0 auto 30px auto;
}
.garanti-pv2 h2 {
    color: #D3B26C;
    font-size: 20px;
    font-weight: 400;
	text-align: center;
	margin: 0 auto 20px auto;
}
.garanti-pv2 p {
    color: #000000;
    font-size: 18px;
	text-align: center;
	margin: 0 auto 20px auto;
}
.habitos-pv2 {
    padding: 50px 0;
}
.habitos-pv2 img.img-habitos-pv2 {
    width: 800px;
    height: auto;
    margin: auto;
}
.habitos-pv2 p {
    text-align: center;
    font-size: 18px;
}
.pqenvelhecemos-pv2 {
    padding: 50px 0;
    background: #00051D;
}
.pqenvelhecemos-pv2 h2, .resultados-pv2 h2 {
    color: #D3B26C;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 20px auto;
}
.pqenvelhecemos-pv2 h1, .resultados-pv2 h1 {
    color: #D3B26C;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 0 auto 0 auto;
}
.comoage-pv2 {
    padding: 50px 0;
}
.img-comoage-pv2 img {
    padding: 0 115px;
}
.headline-comoage-pv2 h1 {
    color: #D3B26C;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 75px auto 10px auto;
}
.headline-comoage-pv2 img {
    width: 225px;
    margin: auto;
    filter: brightness( 200% ) contrast( 0% ) saturate( 89% ) blur( 0px ) hue-rotate( 0deg );
}
.headline-comoage-pv2 h2 {
    color: #D3B26C;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.headline-comoage-pv2 a.cta-comoage {
	width: 75%;
}
.resultados-pv2 {
    padding: 50px 0;
    background: #fafafa;
}
.antes-depois-um iframe, .antes-depois-dois iframe, .antes-depois-tres iframe {
    width: 100%;
    height: 500px;
	margin: 30px 0 0 0;
}
.paisas-pv2 {
    padding: 50px 0;
    background: #ffffff;
}
.usa-pv2 img, .brasil-pv2 img {
    width: 150px;
    height: 150px;
    margin: auto;
}
.usa-pv2 h2, .brasil-pv2 h2 {
    color: #D3B26C;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
	text-align: center;
	margin: 0 auto 20px auto;
}
.usa-pv2 p, .brasil-pv2 p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
	text-align: center;
	margin: 20px auto 0 auto;
}
.principal-pv2 {
    background: #00051d url(img/bg-principal-pv2.jpg) 100% 140px no-repeat;
    padding: 50px 0;
    background-attachment: fixed;
}
.potes-principal-pv2 img {
    width: 400px;
    margin: auto;
}
.list-principal-pv2 h1 {
    color: #D3B26C;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px auto;
}

.list-principal-pv2 h2 {
    color: #F3F3F3;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 30px auto;
}
.list-principal-pv2 p {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0;
    font-weight: 500;
}
.list-principal-pv2 img {
    float: left;
    width: 28px;
    margin-right: 10px;
}
/* PV2 */

/* Página padrão */
.page-padrao {
    margin: 50px auto;
}
.page-padrao h1 {
    text-align: center;
    margin: 0 0 50px 0;
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}
.page-padrao p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.8;
}
/* Página padrão */

/* Rodapé */
.footer {
    padding: 50px 0;
    background: #F9D385;
}
.links-ft h2, .formaspag-ft h2, .envio-ft h2 {
	color: #1e1e4e;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 15px auto;
}
.links-ft a {
    clear: both;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
	color: #1e1e4e;
}
.formaspag-ft img, .envio-ft img {
    width: 200px;
    height: 63px;
}
.direitos-hc {
    text-align: center;
    border-top: solid 1px #d99d22;
    padding: 30px 0 0 0;
    margin: 30px 0 0 0;
}
.rs-ft {
    clear: both;
    display: block;
    overflow: hidden;
    float: right;
    width: 100px;
}
.rs-ft a {
    color: #1e1e4e;
}
.instagram-ft {
	float: left;
}
.whatsapp-ft {
	float: right;
}
img.secure-ft {
    width: 100px;
    float: right;
    margin-top: 20px;
}
/* Rodapé */

/* 09. Responsivo */
@media (max-width: 700px) {
	/* Principal */
	.principal, .videos-hc, .formula-hc, .renove-hc, .time-hc, .oferta-hc, .risco-hc, .faq, .whastapp-hc {
		padding: 40px 0;
	}
	.poderhc {
		padding: 0;
	}
	.descricao-principal h1, .text-phc h1, .videos-hc h1, .text-formula h1, .renove-hc h1, .headline-time h1,
	.headline-oferta h1, .text-risco h1, .text-faq h1, .headline-copy-cta-wpp h1, .potes-oferta-extra h1, .depoimentos-oferta-extra h1 {
		font-size: 25px;
		margin: 0 auto 20px auto;
	}
	.text-formula iframe, .ndias-img iframe {
		width: 345px;
		height: 203px;
		margin: auto !important;
		clear: both;
		display: block;
		margin-bottom: 20px !important;
	}
		section#formula-hc {
		padding: 30px 0 0 0 !important;
	}
	.descricao-principal h2, .text-formula h2, .renove-hc h2, .headline-time h2, .headline-oferta h2, .subheadline-oferta h1 {
		font-size: 16px;
		margin: 0 0 20px 0;
	}
	.descricao-principal p, .lista-ac p {
		font-size: 14.5px;
		margin: 0 0 10px 0;
	}
	.descricao-principal p svg, .lista-ac p svg {
		width: 14px;
		margin-bottom: -4px;
	}
	.img-principal {
		padding-top: 030px;
	}
	a.cta, a.cta.cta-principal, a.cta.cta-remove {
		width: 95% !important;
		font-size: 15px;
		padding: 25px 0;
	}
	img.bbb {
		margin-bottom: 0;
	}
	/* Principal */
	
	/* Benefícios */
	.beneficios-hc {
		margin-bottom: 30px;
	}
	/* Benefícios */
	
	/* Poder hialuroni */
	.text-phc p, .text-risco p, .text-faq p, .headline-copy-cta-wpp p, .headline-upsell p {
		font-size: 16px;
	}
	img.potes-bbb {
		display: none;
	}
	a.cta.cta-phc {
		margin: 10px auto 30px auto !important;
	}
	/* Poder hialuroni */
	
	/* Depoimentos */
	.depoimento-container{
    	width: 100% !important;
		clear: both;
		display: block;
		margin: auto;
	}
	.conetudo-depoimento img {
		margin: auto;
		clear: both;
		display: block;
	}
	.depoimento-container iframe {
		width: 375px !important;
		height: 500px !important;
		clear: both;
		display: block;
		margin: auto !important;
	}
	/* Depoimentos */
	
	/* Videos */
	.text-formula {
		margin-bottom: 10px;
	}
	.text-formula p {
		font-size: 16px;
		margin: 0 auto 15px auto;
	}
	.col-md-3.col-lg-3.col-sm-3.item-video-iframe {
		float: none;
		width: auto !important;
		clear: both;
		display: block;
	}
	/* Videos */
	
	/* Time */
	.headline-time h3 {
		font-size: 16px;
	}
	img.inf-item {
		clear: both;
		display: block;
		width: 85%;
		margin: 15px auto;
	}
	.col-md-3.col-lg-3.col-sm-3.influencer-item {
		width: auto!important;
		clear: both;
		display: block;
	}
	/* Time */
	
	/* Oferta */
	.pote-item, .oferta-extra-item, .depoitemtos-cv-item {
		margin-bottom: 30px;
	}
	.pote-item img, .oferta-extra-item img, .depoitemtos-cv-item img {
		width: 270px;

        display: block;
        margin: 0px auto;
	}
	.diferenciais-oferta-extra-item svg {
		color: #C68F40;
		fill: #C68F40;
		width: 50px;
		margin: 0 auto 10px auto !important;
		text-align: center !important;
		display: flex;
	}
	/* Oferta */
	
	/* Risco */
	.ndias-img img {
		width: 275px;
		height: auto !important;
		margin: 0 auto 35px auto;
	}
	/* Risco */
	
	/* WhatsApp */
	.wpp-img img {
		width: 90px;
		height: 90px;
		margin: 0 auto 30px auto;
	}
	/* WhatsApp */
	
	/* Rodapé */
	.img-crueltyfree img {
		width: 75px;
		display: block;
        margin: 0px auto;
        padding: 5px;
	}
	.links-ft {
		text-align: center;
		clear: both;
		display: block;
		overflow: hidden;
		margin-bottom: 30px;
        
	}
	.links-ft h2, .formaspag-ft h2, .envio-ft h2 {
		font-size: 16px;
		text-align: center;
        padding: 5px;
	}
	.formaspag-ft img, .envio-ft img {
		width: 200px;
        display: block;
        margin: 0px auto;
        padding: 5px;
	}
	.redes-sociais {
		clear: both;
		display: block;
		overflow: hidden;
        padding: 5px;
	}
	.rs-ft, img.secure-ft {
		float: none;
		display: block;
        margin: 0px auto;
        padding: 5px;
	}
	/* Rodapé */
}
/* Responsivo */